{% include 'head.html' %} {% include 'scripts.html' %} {% load static %} {% block content %}

<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        The best offer <br />
                        <span class="text-primary">for your business</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            {% if form.errors %} {% for field in form %} {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <p>{{ field.label|capfirst }} {{ error|escape }}</p>
                            </div>
                            {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <p>{{ error|escape }}</p>
                            </div>
                            {% endfor %} {% endif %}
                            <form method='POST' action="">
                                    {% csrf_token %} 
                                    {% for field in form %} 
                                        <!-- 2 column grid layout with text inputs for the first and last names -->
                                        <div class="row ">
                                            <div class="form-outline mb-4 ">
                                                <div class="form-outline ">
                                                    <input type="{{ field.field.widget.input_type }} " id="id_{{field.name}} " class="form-control " placeholder="{{field.field.widget.attrs.placeholder}} " />
                                                    <!--<label class="form-label " for="id_{{field.name}} ">{{field.name}}</label>-->
                                                </div>
                                            </div>
                                        {% endfor %}  
                                        <script src="https://www.google.com/recaptcha/api.js "></script>
                                        <div class="g-recaptcha " data-sitekey="6Lc6oUkaAAAAANkQnN5HaqEaDix1IvP7vkJSA1Zv "></div>
                                            <!-- Submit button -->
                                            <button type="submit " class="btn btn-primary btn-block mb-4 ">
                                                 Sign up
                                            </button>
                                            <!-- Register buttons -->
                                            <div class="text-center ">
                                                <p>or sign up with:</p>
                                                <button type="button " class="btn btn-link btn-floating mx-1 ">
                                                    <i class="fab fa-google "></i>
                                                </button>
                                                <button type="button " class="btn btn-link btn-floating mx-1 ">
                                                    <i class="fab fa-github "></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Jumbotron -->
</section>
{% endblock %}